---
layout: '../layouts/Layout.astro'
title: 'Upgrades'
---

<h1 class="text-3xl font-bold mb-4">Upgrades</h1>
<p>This page will explain all upgrades available in Everything Upgrade Tree.</p>

<ul class="list-disc pl-6">
  <li>Speed Upgrade</li>
  <li>Multiplier Upgrade</li>
  <li>Card Efficiency</li>
  <li>Prestige Boost</li>
</ul>
